<mat-card>
  <mat-card-title>
    {{ name.UpperCamel }}
  </mat-card-title>
  {% for field in fields %}<mat-form-field>
    <mat-label>{{ field.title }}</mat-label>
    <input matInput type="text" id="{{ field.name }}" [(ngModel)]="{{ name.lowerCamel }}.{{ field.name }}" name="{{ field.name }}">
  </mat-form-field>
  {% endfor %}

</mat-card>
<div class="component component-{{ name.kebab }}">
  <div class="entity-title"></div>
</div>
